.deps
.DS_Store
scripts/__pycache__
*/__pycache__
*/__pycache__/*
.pyc

artifacts
*/artifacts
env

node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
package-lock.json
yarn.lock
bun.lockb
